* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --azul: #0349ddff;
  --amarillo: #f6cf12ff;
  --azul-claro: #03a8ddff;
  --blanco: #fff;
}
body {
  font-family: "Prompt", sans-serif;
}
/*=============Este es el Header=============*/
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/bg-02.jpg);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  position: relative;
}
.logo img {
  width: 15%;
  object-fit: cover;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 50px;
}

.nav-link {
  flex: 1;
  text-align: right;
  /*transition: .5s;*/
}
.nav-link ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
  position: relative;
}
.nav-link ul li a {
  color: var(--blanco);
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}
.nav-link ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  margin: auto;
  display: block;
  background: var(--amarillo);
  transition: 0.5s;
}
.nav-link ul li a:hover::after {
  width: 100%;
}
/*=======Encabezado===========*/
.text-box h1 {
  color: var(--blanco);
  width: 90%;
  font-weight: 500;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 55px;
  transform: translate(-50%, -50%);
}

/*======= Fin Encabezado===========*/
nav .fa {
  display: none;
}
/*======= About===========*/
.bg-acerca {
  background: #f8f9f9;
  height: 500px;
}
.acerca {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px;
}
h2 {
  font-size: 40px;
  font-weight: 500;
}
h5 {
  font-size: 30px;
  font-weight: 400;
  color: var(--azul);
  margin-bottom: 70px;
}
.btn {
  background: var(--amarillo);
  border-radius: 25px;
  text-decoration: none;
  color: var(--blanco);
  font-size: 20px;
  padding: 10px 30px;
}
/*======= Service===========*/
.row {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.col-sevices {
  flex-basis: 31%;
  background: var(--amarillo);
  border-radius: 10px;
  padding: 20px 15px;
  margin-bottom: 5%;
  box-sizing: border-box;
  transition: 0.5s;
}
.col-sevices:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
}
.fa {
  font-size: 40px;
}
span p {
  color: var(--azul);
  font-size: 25px;
  font-weight: 400;
}
h4 {
  color: var(--azul);
}
span {
  font-size: 40px;
}
/*===========Redes Banner============*/
.banner {
  margin: 10px auto;
  width: 80%;
  background-image: linear-gradient(
      rgba(4, 9, 30, 0.897),
      rgba(4, 9, 30, 0.829)
    ),
    url(img/banner.png);
  /*min-height: 100vh;*/
  background-position: center;
  background-size: cover;
  object-fit: cover;
  position: relative;
  padding: 100px 0;
  text-align: center;
  border-radius: 10px;
}
.banner p {
  color: var(--blanco);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
}
/*===========footer============*/
.footer {
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 30px 0;
}
.footer p {
  font-size: 20px;
  margin-top: 17px;
}
.iconos .fa {
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  color: var(--azul);
  font-size: 25px;
}
/*===========Pagina About============*/
.sub-header {
  background-image: linear-gradient(
      rgba(4, 9, 30, 0.808),
      rgba(4, 9, 30, 0.808)
    ),
    url(img/banner.png);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  height: 90vh;
  width: 100%;
}
.about {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 70px;
}
.about-col {
  flex-basis: 48%;
  padding: 20px 20px;
}
.about-col img {
  width: 100%;
  margin-top: 40px;
}
.about-col p {
  font-size: 19px;
  margin-top: 40px;
}
/*===========Pagina contactos============*/
.ubicacion {
  width: 80%;
  margin: auto;
  padding: 80px 0px;
}
.ubicacion iframe {
  width: 100%;
}
.contactos {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8s0px;
}
.contact-col {
  flex-basis: 35%;
}

.contact-col-1 p {
  font-size: 20px;
  color: black;
  font-weight: 500;
}
.contact-col-1 .fa {
  color: var(--azul);
  margin: 10px;
  margin-right: 80px;
  font-size: 20px;
}
.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px 50px;
  outline: none;
  margin-bottom: 17px;
  border: 1px solid #ccc;
}
button {
  outline: none;
  border: none;
  margin: 20px auto;
  margin-left: 80px;
  margin-bottom: 90px;
}

/*===========Media Quiere============*/
@media (max-width: 800px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-link ul li {
    display: block;
    text-align: center;
    letter-spacing: 2px;
  }
  .nav-link {
    background: var(--azul);
    height: 100vh;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    text-align: left;
    transition: 1s;
    display: none;
  }

  nav .fa {
    display: block;
    color: var(--blanco);
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
  }
  .nav-link ul {
    padding: 20px;
  }
  .nav-link.active {
    display: block;
  }
  .logo img {
    width: 25%;
  }
  /*===========fin Menu============*/
  /*===========Serices============*/
  .row {
    flex-direction: column;
  }

  h5 {
    font-size: 18px;
  }
  h2 {
    font-size: 30px;
  }
  .acerca {
    width: 100%;
  }
  .btn {
    border-radius: 25px;
    text-decoration: none;
    color: var(--blanco);
    font-size: 16px;
    padding: 5px 20px;
  }
  /*===========Banner============*/
  .banner p {
    font-size: 20px;
  }
  /*=========== pagina Servicios============*/
  .contactos {
    flex-direction: column;
  }
  .contact-col-1 {
    margin-bottom: 90px;
  }
}
